{% extends 'base.html.twig' %}

{% block title %}Ecrire un nouveau chapitre{% endblock %}

{% block body %}


    <div class="padding-top global" id="content">
        <div class="d-flex flex-row align-items-end justify-content-around">
            <h1>Ecrire un nouveau chapitre</h1>
            <a href="{{ path('edition_tools_new') }}" class="btn">Revenir en arrière</a>
        </div>

        <div class="container pt-5 pb-5">
        {{ include('chapter/_form.html.twig') }}
        </div>
    </div>

{% endblock %}


